#!/usr/bin/python
import json
{% set keyring = {} %}
{% for docker in range(0, docker_cluster_size|int, 1) %}
    {{- keyring.update({'pub_key_' + bigchaindb_docker_name + docker|string: hostvars[ansible_hostname]['pub_key_' + bigchaindb_docker_name + docker|string]}) -}}
{%- endfor -%}
{% for docker in range(0, docker_cluster_size|int, 1) %}
keyring = {{ keyring }}
keyring.pop('{{ 'pub_key_' + bigchaindb_docker_name + docker|string }}', None)
with open('{{ bigchaindb_config_path_docker + docker|string }}/.bigchaindb', 'r+') as f:
    data = json.load(f)
    del data['keyring'][:]
    for key, value in keyring.iteritems():
      data['keyring'].append(value)
    f.seek(0)
    json.dump(data, f, indent=4)
    f.truncate()
{% endfor %}