directory=/data
runuser=rethinkdb
rungroup=rethinkdb
bind=all
# The IP address of localhost is 127.0.0.1
#bind-http=127.0.0.1
# direct-io
# List of *other* hostnames in the cluster:
# join=hostname1:29015
# join=hostname2:29015
# etc.
