rs.initiate({
  "_id": "{{ replica_set_name }}",
  "members": [
    {
      "_id": 0,
      "host": "{{ hostvars[ansible_hostname][mongodb_docker_name + (docker_cluster_size|int - 1)|string] }}:{{ mongodb_port }}"
    }
  ]
});
sleep(5000);
{% for docker in range(0, docker_cluster_size|int, 1) %}
{%- if docker != (docker_cluster_size|int - 1) -%}
rs.add("{{ hostvars[ansible_hostname][mongodb_docker_name + docker|string] }}:{{ mongodb_port }}");
{% endif %}
{%- endfor -%}
use admin;
db.createUser(db.createUser({
  "user": "{{ mongodb_admin_user }}",
  "pwd": "{{ mongodb_admin_password }}",
  "roles": [
    {
      "role": "userAdminAnyDatabase",
      "db": "admin"
    },
    {
      "role": "clusterManager",
      "db": "admin"
    }
  ]
});
